@mixin cvStyle {
  .app-shell {
    .cvview{
      display: grid;
      grid-template-columns: 50% auto;

    }
    .cvImage{
      padding-top: 10px;
      padding-left: 20px;
    }
    .cvblock {
      padding-left: 30px;
      padding-top: 10px;
      display: grid;
      .title{
        font-weight: 600;
      }
    }
    .cvinfoblock{
      display: grid;
      grid-template-columns: 250px auto;
      padding-top: 8px;
      .cvline{
        font-weight: 400;
      }
    }
    .qualificationview{
      .shower{
        padding-left: 10px;
        padding-right: 10px;
      }
      .buttonq {
        position: relative;
        text-align: center;
        white-space: nowrap;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        cursor: pointer;
        height: 37px;
        padding: 0 8px;
        margin: 3px;
        border-radius: 4px;
        background-image: none;
        box-shadow: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
      }
      .v-button-wrap {
      }
      .v-button-caption {
        color: black;
      }
    }

  }
  .app-shell[width-range~="-600px"] {
    .cvview{
      display: grid;
      grid-template-columns: auto;

    }
    .cvImage{
      padding-left: 20px;
      align-self: center;
      padding-top: 30px;
      width : 150px;
    }
    .cvblock {
      padding-left: 30px;
      padding-top: 10px;
      display: grid;
      .title{
        font-weight: 600;
      }
    }
    .cvinfoblock{
      display: grid;
      grid-template-columns: auto;
      padding-top: 8px;
      .cvline{
        font-weight: 400;
        grid-template-columns: auto;
      }
    }

    .qualificationview{
      .shower{
        padding-left: 0px;
        padding-top: 10px;
        padding-right: 0px;
      }
    }
  }
  .app-shell[width-range~="600px-"] {

    .cvview{
      display: grid;
      grid-template-columns: auto;
    }
    .cvImage{
      width : 150px;
    }
    .cvblock {
      padding-left: 30px;
      padding-top: 10px;
      display: grid;
      .title{
        font-weight: 600;
      }
    }
    .cvinfoblock{
      display: grid;
      grid-template-columns: 250px auto;
      padding-top: 8px;
      .cvline{
        font-weight: 400;
      }
    }
    .qualificationview{
      .shower{
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
  }
  .app-shell[width-range~="1350px-"] {

    .cvview{
      display: grid;
      grid-template-columns: 50% auto;
    }
    .cvImage{
      width: 200px;
    }
    .cvblock {
      padding-left: 30px;
      padding-top: 10px;
      display: grid;
      .title{
        font-weight: 600;
      }
    }
    .cvinfoblock{
      display: grid;
      grid-template-columns: 250px auto;
      padding-top: 8px;
      .cvline{
        font-weight: 400;
      }

    }
  }
  .qualificationview{
    .shower{
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
    }
  }
}