@mixin menu {
  .app-shell {
    .logo {
      // our logo text is white
      color: #fff;
      word-wrap: break-word;
    }
    .v-caption-logo {
      // this is the (font)icon
      @extend .v-label;
      @extend .logo;
    }

    .navigation-bar {
      color: $v-focus-color;
      background-size: cover;
      background-position: top;
      background-image: $app-background-image;

      .v-icon, .v-button-caption {
         color: lightgray;
      }

      .selected {
        background: rgba(255, 255, 255, .3);
        color: lighten($v-focus-color, 60%);
        .v-icon, .v-button-caption {
          color: lighten($v-focus-color, 60%);
        }
      }
      .activeViewName {
        line-height: $v-unit-size;
        width: auto !important;
        padding: 0 $v-unit-size / 2.5;
        font-size: $v-font-size;
      }
    }
  }



  // medium screens
  .app-shell[width-range~="601px-"] {
    .activeViewName {
      display: none;
    }
    .v-caption-logo {
      display: block;
      text-align: center;
    }

    @if $app-background-gradient {
      @if $app-background-image {
        .navigation-bar-container {
          background-image: $app-background-image;
        }
        .navigation {
          background-color: transparent;
          border: none;
          .v-button{
            color: lightgrey;
          }
        }
      }
    }
  }
  // wide screens
  .app-shell[width-range~="1001px-"] {
    @if $app-background-image {
      .navigation-bar {
        background-image: $app-background-image;
        color: $v-focus-color;
      }
      .navigation {
        background-color: transparent;
        border: none;
        .v-button-caption{
          color: lightgrey;
        }
      }
      .navigation-bar .v-icon, .v-button-caption {
        color: lightgrey;
      }
    }
  }

  // narrow screens
  .app-shell[width-range~="-600px"] {
    .logo {
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .v-caption-logo {
      float: left;
    }
  }
}
