@mixin ProjectsStyle {
.app-shell {
  .projLabel{
    margin-top: 8px;
    padding-bottom: 10px;
    font-weight: 800;
    color: black;
    text-align: center;
  }
  .titlewrap{
    border-left-style: dotted;
    border-left-color: black;
    width: -webkit-fill-available;
    display: inline-block;
  }
  .sortbutton{
    float: right;
    border-style: none;
    color: black;
    text-decoration-color: black;
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    .v-button { }
      .v-button-wrap { }
        .v-button-caption {
          color: black;
        }

  }
  .darkpane{
    background-color: #D8CEF9;
  }

  .lightpane{
    background-color: #DBD0FF;
  }
  .projectsView{
    display : block;
    width: -webkit-fill-available;
    border-spacing: 10px;
    margin-left: 2px;
    padding-left: 3px;
    .projectPane {
      align-content: center;
      display: grid;
      border-left: solid;
      border-color: black;
      margin-bottom: 1px;
      .title{
        text-align: center;
        font-weight: 500;
        background-color: inherit;
        border-style: none;
      }
      .role{
        padding-left: 5px;
        text-align: center;
        font-weight: 300;
        background-color: inherit;
        border-style: none;
      }
      .titlepanel{
        text-align: center;
        display: inline-block;
      }
      .descriptionline{
        text-align: center;
        width: -webkit-fill-available;
        white-space: normal;
        background-color: inherit;
        border-style: none;
        font-weight: 300;
        padding-left: 10px;
        padding-right: 10px;
      }
      .dateline {
        text-align: left;
        text-indent: 0;
        color: black;
        width: -webkit-fill-available;
        background-color: inherit;
        border-style: none;
        font-weight: 600 ;
      }
    }
  }
 }
}

